body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('Img/forest.jpg');
    background-repeat: no-repeat; 
background-attachment: relative; 
background-size: 100% 100%;
}

#game-board {
    background-color: #375a02;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-image: url('/Img/deer.png');
    background-repeat: no-repeat; 
    background-attachment: relative; 
    background-size: 100% 100%;
}

.food {
background-image: url('Img/purepng.com-red-appleappleapplesfruitsweetred-apple-1701527181064dd8db.png');
background-repeat: no-repeat; 
background-attachment: relative; 
background-size: 100% 100%;
}

#overlayA {
  position: fixed;
  display: block;
  width: 20%; /* Full width (cover the whole page) */
  height: 20%; /* Full height (cover the whole page) */
  top: 5%;
  left: 78%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  border: 25px;
  color:#ffffff;
}


#overlay {
    position: fixed;
    margin-top: 100px;
    display: none; /* Hidden by default */
    width: 200px; /* Full width (cover the whole page) */
    height: 200px; /* Full height (cover the whole page) */
    top: 15%;
    left: 45%;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    color:rgb(140, 30, 6);
  }
  .ScoreB {
    position: absolute;
    Top: 10px;
    Left: 10px;
  }

  .goingUp {
    transform: rotate(270deg);
  }

  .goingDown {
    transform: rotate(90deg);
  }
  
  .goingLeft {
    transform: scaleX(-1);
  }

  .goingRight {
    transform: rotate(0deg);
  }

  .button{
    background-color: rgb(223, 172, 5);
  }